{% extends "tranca/admin/base/base.html" %}

{% block body %}
<div>
    <div class="page-header"><h1>文章管理</h1></div>
    <div style="margin-bottom: 20px;">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">文章分类</button>
    </div>
    <div>
        <table class="table table-bordered table-hover">
           <thead>
              <tr>
                <th style="width: 50px;">序号</th>
                 <th width="140">所属类别</th>
                 <th>文章名称</th>
                 <th width="240">创建时间</th>
                 <th>操作</th>
              </tr>
           </thead>
           <tbody>
            {% for i, j in words sorted %}
              <tr>
                <td>{{ j.id }}</td>
                <td>{{ j.classname }}</td>
                 <td><div style="width: calc({{ j.level }}*30px);float: left;">&nbsp;</div>{{ j.name|safe }}</td>
                 <td>{{ todate(j.create_time) }}</td>
                 <td width="250">
                     <button class="btn btn-info update" link="/admin/ddy/wordinfo/{{ j.id }}">修改</button>
                     <button class="btn btn-danger delclass" link="/admin/ddy/delword/{{ j.id }}">删除</button>
                 </td>
              </tr>
            {% endfor %}
           </tbody>
        </table>
    </div>
    <div id="mypage"></div>
</div>

            <form class="form-horizontal" role="form" action="{{ urlfor("admin/ddy/addword") }}" method="post" enctype ="multipart/form-data" runat="server">
<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" 
   aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog" style="width: 90%">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" 
               data-dismiss="modal" aria-hidden="true">
                  &times;
            </button>
            <h4 class="modal-title" id="myModalLabel">
               添加文章
            </h4>
         </div>
         <div class="modal-body">
               <div class="form-group">
                   <div class="form-group" style="text-align: center;" id="icatimg">
                        
                   </div>
                  <label for="firstname" class="col-sm-3 control-label">文章名称：</label>
                  <div class="col-sm-9">
                     <input type="text" class="form-control" id="firstname" name="wordname"
                        placeholder="请输入分类名称" required>
                  </div>
               </div>
               <div class="form-group">
                  <label for="lastname" class="col-sm-3 control-label">上级分类：</label>
                  <div class="col-sm-9">
                    <select class="form-control" name="classid">
                        <option value="-1">顶级分类</option>
                        {% for i, j in class sorted %}
                            <option id="{{ j.id }}" value="{{ j.id }}">{{ mstr(j.level, "&nbsp;&nbsp;&nbsp;&nbsp;")|safe }}{{ j.name|safe }}</option>
                        {% endfor %}
                    </select>
                  </div>
               </div>
               <div class="form-group">
                  <label for="imgurl" class="col-sm-3 control-label">文章封面：</label>
                  <div class="col-sm-9">
                     <input type="file" class="form-control" id="imgurl" name="imgurl" runat="server" onchange="previewImage(this, 'icatimg', 100, 100)" ><!--required-->
                  </div>
               </div>
               <div class="form-group">
                  <label for="bar" class="col-sm-3 control-label">备注：</label>
                  <div class="col-sm-9">
                     <input type="text" class="form-control" id="bar" name="remark" >
                  </div>
               </div>
               <div class="form-group">
                  <label for="bar" class="col-sm-3 control-label">文章内容：</label>
                  <div class="col-sm-9">
                     <div>
                         <script id="wordeditor" type="text/plain" name="wordbody" style="width:100%;height:450px;"></script>
                     </div>
                  </div>
               </div>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-default" 
               data-dismiss="modal">关闭
            </button>
            <input type="submit" class="btn btn-primary" value="添加">
         </div>
      </div><!-- /.modal-content -->
    </div>
</div><!-- /.modal -->
            </form>

            <form class="form-horizontal" id="uf" role="form" action="" method="post" enctype ="multipart/form-data" runat="server">
<!-- 模态框（Modal） -->
<div class="modal fade" id="update" tabindex="-1" role="dialog" 
   aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog" style="width: 90%">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" 
               data-dismiss="modal" aria-hidden="true">
                  &times;
            </button>
            <h4 class="modal-title" id="uLabel">
               修改文章
            </h4>
         </div>
         <div class="modal-body">
               <div class="form-group" style="text-align: center;" id="catimg">
                    
               </div>
               <div class="form-group">
                  <label for="firstname" class="col-sm-3 control-label">文章名称：</label>
                  <div class="col-sm-9">
                     <input type="text" class="form-control" id="uname" name="wordname"
                        placeholder="请输入分类名称" required>
                  </div>
               </div>
               <div class="form-group">
                  <label for="lastname" class="col-sm-3 control-label">上级分类：</label>
                  <div class="col-sm-9">
                    <select class="form-control" id="upclassid" name="classid">
                        <option value="-1">顶级分类</option>
                        {% for i, j in class sorted %}
                            <option id="{{ j.id }}" value="{{ j.id }}">{{ mstr(j.level, "&nbsp;&nbsp;&nbsp;&nbsp;")|safe }}{{ j.name|safe }}</option>
                        {% endfor %}
                    </select>
                  </div>
               </div>
               <div class="form-group">
                  <label for="imgurl" class="col-sm-3 control-label">文章封面：</label>
                  <div class="col-sm-9">
                     <input type="file" class="form-control" id="uimgurl" name="imgurl" runat="server" onchange="previewImage(this, 'catimg', 100, 100)" >
                  </div>
               </div>
               <div class="form-group">
                  <label for="bar" class="col-sm-3 control-label">备注：</label>
                  <div class="col-sm-9">
                     <input type="text" class="form-control" id="ubar" name="remark" >
                  </div>
               </div>
               <div class="form-group">
                  <label for="bar" class="col-sm-3 control-label">文章内容：</label>
                  <div class="col-sm-9">
                     <div>
                         <script id="updatewordeditor" type="text/plain" name="wordbody" style="width:100%;height:450px;"></script>
                     </div>
                  </div>
               </div>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-default" 
               data-dismiss="modal">关闭
            </button>
            <input type="submit" class="btn btn-primary" value="更新">
         </div>
      </div><!-- /.modal-content -->
    </div>
</div><!-- /.modal -->
        </form>
<script type="text/javascript" charset="utf-8" src="/admin/ueditor.config.js?path=wordimg"></script>
<script type="text/javascript" charset="utf-8" src="/ueditor/ueditor.all.min.js"> </script>
<!--建议手动加在语言，避免在ie下有时因为加载语言失败导致编辑器加载失败-->
<!--这里加载的语言文件会覆盖你在配置项目里添加的语言类型，比如你在配置项目里配置的是英文，这里加载的中文，那最后就是中文-->
<script type="text/javascript" charset="utf-8" src="/ueditor/lang/zh-cn/zh-cn.js"></script>
<style type="text/css">
.edui-default {/*z-index: 9005!important;*/}
.modal{z-index: 999;}
.modal-backdrop{z-index: 998;}
.nmenu{z-index: 997;}
.navbar-fixed-top{z-index: 997;}
</style>
<script type="text/javascript">
    var ue = UE.getEditor('wordeditor');
    var updateue = UE.getEditor('updatewordeditor');
</script>
<script type="text/javascript">
    page = "ddy";
    pclass = "ddyword";

    start = function(){
        $('.delclass').click(function(){
            if(confirm("是否确认删除")){
                alink(this, function(data){
                    if(data=="0"){
                        bAlert("删除失败");
                    }else{
                        bAlert("删除成功");
                        location.reload()
                    }
                });
            }
        });
        $('.update').click(function(){
            alink(this, function(data){
                data = data.words;
                // alert(data.toString());
                $('#uf').attr('action', '/admin/ddy/updateword/'+data.id);
                updateue.setContent(data.wordbody)
                $('#uname').val(data.name)
                $('#upclassid').val(data.classid)
                // $('#uclassid').val(data.classid)
                $('#catimg').html('<img src="'+data.imgurl+'" style="width: 100px;height: 100px;">')
                $('#ubar').val(data.remarks)
                $('#uimgurl').val('')
                $('#update').modal();
            });
        });
        ipage.create('#mypage', {{ total }}, {{ size }});
    }
</script>
{% endblock %}