{% extends "tranca/admin/base/base.html" %}

{% block body %}
<div>
    <div class="page-header"><h1>修改密码</h1></div>
    <div style="margin-bottom: 20px;">
        <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">添加举报</button> -->
    </div>
    <div>
        <form action="" method="post">
            <div class="form-group">
                <label for="name" class="col-sm-3 control-label">密码：</label>
                <div class="col-sm-9">
                    <input class="form-control" id="password" name="password" type="password" maxlength="20" ></input>
                </div>
            </div>
            <div class="form-group" style="">
                <label for="name" class="col-sm-3 control-label">&nbsp;</label>
                <div class="col-sm-9">
                    <input type="submit" class="btn btn-primary" value="修改密码" style="width: 100%;margin-top: 50px;">
                </div>
            </div>
        </form>
    </div>
    <div id="mypage"></div>
</div>
        
<style type="text/css">
.edui-default {/*z-index: 9005!important;*/}
.modal{z-index: 999;}
.modal-backdrop{z-index: 998;}
.nmenu{z-index: 997;}
.navbar-fixed-top{z-index: 997;}
</style>

<script type="text/javascript">
    page = "system";
    pclass = "systemPassword";

    start = function(){
    }
</script>
{% endblock %}